<p></p>
<div class="row placeholders" ng-controller="TagsCtrl">
    <div class="col-xs-12 col-sm-12 placeholder">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="nome da matéria" ng-model="tag.nome" ng-init="tag.tipo='materia'">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Adicionar</button>
                </span>
            </div>
        </form>
        <p></p>
        <table class="table table-striped table-hover">
            <tr>
                <th class="col-sm-1">#</th>
                <th class="col-sm-1">id</th>
                <th class="col-sm-9">Matéria</th>
                <th class="col-sm-1"></th>
            </tr>
            <tr ng-repeat="i in materias | filter: tag.nome">
                <td class="text-left">{{$index+1}}</td>
                <td class="text-left">{{i.id}}</td>
                <td class="text-left">{{i.nome}}</td>
                <td class="text-right"><button class="btn btn-default btn-xs" ng-click="deleteTag(i)" tooltip="remove a matéria">X</button></td>
            </tr>
        </table>
    </div>
</div>