<!--h1 class="page-header">Simulado</h1-->

<div class="row placeholders" ng-controller="SimuladoCtrl">
    <div class="text-left col-sm-6">Pergunta: 1/10</div>
    <div class="right col-sm-6 text-right">revisar <input type="checkbox"></div>
</div>
    <hr>
<div class="col-xs-12 col-sm-12 placeholder">
    <p style="text-align: left;">1) No conjunto abaixo, um dos elementos foge ao campo <span>semântico dos demais. Qual é ele?</span>
    </p>
    <p style="text-align: left;">
        <span class="alternativa">a)</span><input class="resposta" type="radio" ng-model="correta" ng-value="a" name="correta"><span>Interatividade</span>
        <br>
        <span class="alternativa">b)</span><input class="resposta" type="radio" ng-model="correta" ng-value="b" name="correta"><span>Conectividade</span>
        <br>
        <span class="alternativa">c)</span><input class="resposta"  type="radio" ng-model="correta" ng-value="c" name="correta"><span>Continuidade</span>
        <br>
        <span class="alternativa">d)</span><input class="resposta" type="radio" ng-model="correta" ng-value="d" name="correta"><span>Articulação</span>
        <br>
        <span class="alternativa">e)</span><input class="resposta" type="radio" ng-model="correta" ng-value="e" name="correta"><span>Intercâmbio</span>
        <br>
    </p>
    <hr>
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">6</a></li>
  <li><a href="#">7</a></li>
  <li><a href="#">8</a></li>
  <li><a href="#">9</a></li>
  <li><a href="#">10</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div>
</div>