<h1 class="page-header">Nova Pergunta</h1>

<div class="row placeholders" ng-controller="PerguntaCtrl">
    <div class="col-xs-12 col-sm-12 placeholder">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">
                <label for="materia" class="col-sm-3 control-label">Matéria</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="pergunta.materia" typeahead="m.nome for m in materias | filter:$viewValue | limitTo:10" | class="form-control" placeholder="matéria" required>
                </div>
            </div>
            <div class="form-group">
                <label for="topico" class="col-sm-3 control-label">Tópicos</label>
                <div class="col-sm-9">
                    <tags-input ng-model="pergunta.topicos" placeholder="adicone um, ou mais tópicos"  min-tags="1">
                        <auto-complete source="loadTags($query)" min-length="2"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="form-group">
                <label for="instituicao" class="col-sm-3 control-label">Instituição</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="pergunta.instituicao" placeholder="instituição" typeahead="i.nome for i in instituicoes | filter:$viewValue | limitTo:10" | class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="ano" class="col-sm-3 control-label">Ano</label>
                <div class="col-sm-9">
                    <input type="number" ng-model="pergunta.ano" placeholder="ano" class="form-control" required min="1900" max="2014" integer>
                </div>
            </div>
            <div class="form-group">
                <label for="Grau" class="col-sm-3 control-label">Grau de Escolaridade</label>
                <div class="col-sm-9">
                    <select class="form-control" ng-model="pergunta.grau" ng-options="n.nome for n in graus" required>
                        <option value="">Grau de escolaridade</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pergunta" class="col-sm-3 control-label">Pergunta</label>
                <div class="col-sm-9">
                    <div text-angular ng-model="pergunta.enunciado"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="alternativas" class="col-sm-3 control-label">Alternativas<br><span class="btn btn-default btn-xs" ng-click="add()">+1</span></label>
                <div class="col-sm-9">
                    <table class="table">
                        <tr ng-repeat="a in alternativas">
                            <td class="text-right radio"><input type="radio" ng-model="pergunta.correta" ng-value = "a.correta" name="correta" required></td>
                            <td class="col-sm-11"><input type="text" class="form-control" value="" ng-model="a.descricao" required></td>
                        </tr>    
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label for="explicacao" class="col-sm-3 control-label">Explicação</label>
                <div class="col-sm-9">
                    <textarea placeholder="comente a questão, explicando a solução." class="col-sm-12 form-control" ng-model="pergunta.explicacao"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>